/* Font
--------------------------------------------- */

@font-face {
	font-family: 'C7 Form Builder';
	src:url('../fonts/c7-form-builder.eot');
	src:url('../fonts/c7-form-builder.eot?#iefix') format('embedded-opentype'),
	url('../fonts/c7-form-builder.ttf') format('truetype'),
	url('../fonts/c7-form-builder.woff') format('woff'),
	url('../fonts/c7-form-builder.svg#c7-form-builder') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="cfb-icon-"], [class*=" cfb-icon-"] {
	font-family: 'C7 Form Builder';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cfb-icon-add:before {
	content: "\f055";
}
.cfb-icon-remove:before {
	content: "\f056";
}
.cfb-icon-sort:before {
	content: "\f0dc";
}

/* Base styling for fields and controls
--------------------------------------------- */

.cfb-empty-control {
	display: none;
}

.cfb-field-description {
	font-size: 13px;
	font-style: italic;
}

.cfb-repeatable-handles {
	display: inline;
}

.cfb-hidden-field-view {
	display: none;
}

/* Tabs
--------------------------------------------- */

.cfb-form-tabs-wrapper {
	margin: 0;
	padding: 0 10px;
	border-bottom: 1px solid #ccc;
}

.cfb-form-tabs {
	display: inline-block;
	margin: 0 6px 0 0;
	padding: 6px 10px;
	border: 1px solid #ccc;
	border-bottom: none;
	color: #555;
	background: #e4e4e4;
	cursor: pointer;
}

.cfb-active-tab {
	margin-bottom: -1px;
	border-bottom: 1px solid #f1f1f1;
	background: transparent;
}

.postbox .cfb-form-tabs-wrapper {
	border-color: #e8e8e8;
}

.postbox .cfb-form-tabs {
	border-color: #e8e8e8;
	background: #f5f5f5;
}

.postbox .cfb-active-tab {
	border-bottom-color: #fff;
	background: #fff;
}

.postbox .cfb-form-fields-wrapper.cfb-tab-content {
	padding: 10px;
	border: 1px solid #e8e8e8;
	border-top: none;
}
